<h3>TinyApp</h3>

<p>
  <a href="/register">Register</a>
</p>

<% if (user) { %>

<p>
  <label>Current User: <%= user.email %></label>
</p>
<p>
  <form method="POST" action="/logout">
    <input id="logout" type="submit" value="Logout">
  </form>
</p>


<% } else { %>

<p>
  <a href="/login">Login</a>
</p>

<% }; %>
