<h3>TinyApp</h3>

<% if (username === undefined) { %>
<form method="POST" action="/login">
  <label>Username: </label>
  <input id="username" type="text" name="username">
  <input type="submit" value="Submit">
</form>
<% } else { %>
  <label>Current User: <%= username %></label>
  <!-- Add and handle POST from logout button -->
<form method="POST" action="/logout">
  <input type="submit" value="Logout">
</form>
<% } %>