
<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <% include ./partials/_header.ejs %>
    <% for (var key in urls) { %>
    <form method="POST" action ="/urls/<%= key %>/delete">
    <%= key %>:<%= urls[key].longURL %><a href="/urls/<%= key %>">Edit</a><input type="submit" value="Delete">
    </form>
    <% }; %>
  <p><a href="/urls/new">Shorten URL</a></p>
</body>
</html>
