
<!DOCTYPE html>
<html lang="en">
<% include ./partials/_header.ejs %>
<body>
    <% for (var key in urls) { %>
    <%  if (key === shortURL) { %>
    <li><%= key %>:<%= urls[key] %></li>
    <%  } %>
    <% } %>
</body>
</html>
