
<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <h3>Login</h3>
    <form action="/login" method="POST" style="margin:150px;">
      <p>
        <label for="email">E-mail Address:</label>
        <input id="email" type="email" name="email" style="width: 300px">
      </p>
      <p>
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" style="width: 300px">
      </p>
      <input type="submit" value="Login">
    </form>
  </body>
</html>