
<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
  <% include ./partials/_header.ejs %>
    <% for (var key in urls) { %>
    <%  if (key === shortURL) { %>
    <li><%= key %>:<%= urls[key].longURL %></li>
    <%  } %>
    <% } %>
    <form method = "POST" action = "/urls/<%= shortURL%>">
      <input id="longURL" type="text" name="longURL" placeholder="<%= urls[shortURL].longURL %>">
      <input type="submit" value="Update">
    </form>
</body>
</html>
